/* Created by: MariaG
* Created on: May 16, 2022
* This CSS file defines the style for index.php
* ICS2O-Unit5-01-PHP-EvenNumberDisplay
*/

body {
  width: 80%;
  margin: 5% 10%;
  font-family: Helvetica, Arial, sans-serif;
}
